@using System.Linq.Expressions
@typeparam T

@{
    var messages = GetValidationMessages();
    if (messages.Count() > 0)
    {
        <div class="invalid-feedback" style="display: block">
            @foreach (var message in messages)
            {
                <p>@message</p>
            }
        </div>
    }
}

@code {
    [CascadingParameter]
    EditContext EditContext { get; set; }

    [Parameter]
    public Expression<Func<T>> For { get; set; }

    FieldIdentifier fieldIdentifier;
    protected override void OnParametersSet()
    {
        fieldIdentifier = FieldIdentifier.Create(For);
    }

    IEnumerable<string> GetValidationMessages() =>
        EditContext.GetValidationMessages(fieldIdentifier);
}
