<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center" style="width: 10%">Done</th>
            <th>To do</th>
            <th style="width: 156px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Todos)
        {
            <TodoItem Model=@todo OnEdit="OnEdit" OnDelete="OnDelete" />
        }
    </tbody>
</table>

<NewItemEntry Model="Model" OnNewItem="OnNewItem" />

@code {
    public TodoItemModel Model { get; set; } = new TodoItemModel();

    [Parameter]
    public IList<TodoItemModel> Todos { get; set; }

    void OnDelete(TodoItemModel todoItem)
    {
        Todos.Remove(todoItem);
        StateHasChanged();
    }

    void OnEdit(TodoItemModel item)
    {
        Model = item;
        StateHasChanged();
    }

    void OnNewItem(TodoItemModel item)
    {
        if (Todos != null)
        {
            if (item.Guid != Guid.Empty)
            {
                var res = Todos.ElementAt(Todos.IndexOf(item));
                res.Guid = Guid.NewGuid();
            }
            else
            {
                Todos.Add(item);
            }
            Model = new TodoItemModel();
            StateHasChanged();
        }
    }
}
